<!DOCTYPE html>
<html>
<head>
  <title>TestCalendar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "fullcalendar" %>
  <%= stylesheet_link_tag "redmond/redmond" %>
  <%= stylesheet_link_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fullcalendar" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery-ui-timepicker-ru" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "full calendar", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
